[Desktop Entry]
Version=0.4
Name=draobpilc Preferences
Comment=Preferences for draobpilc
Exec=draobpilc --preferences
Icon=draobpilc
Terminal=false
Type=Application
Categories=Settings;
