#MainWindow {
    background-color: rgba(0, 0, 0, 0.8);
}

.history-item-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.history-item-box-active {
    border: 2px dashed #77DD77;
}

#HistoryItemLabel {
    padding: 10px;
}

#RightBox {
    background-color: rgba(0, 0, 0, 0.5);
}

#SearchBox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em;
}

#ItemsViewBox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#ItemsViewList {

}

#HistoryItemKindIndicator.file {
    background-color: red;
}

#HistoryItemKindIndicator.image {
    background-color: yellow;
}

#HistoryItemKindIndicator.text {
    background-color: grey;
}

#HistoryItemKindIndicator.link {
    background-color: #FF2EE3;
}

#ProcessorBox {
    background-color: rgba(0, 0, 0, 0.5);
}

#EditorTextView, #MergerTextView {
    padding: 20px;
}

#AppNameLink, #LinksButton {
    font-size: x-small;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#TrackImg.active {
    color: #2987FF;
}

#TrackButton {
    border: none;
}

#TrackButton:checked {
    background-color: transparent;
    border: none;
}

#HistoriesManagerConfirmationLabel {
    font-weight: bold;
    padding-right: 10px;
}

#MainToolboxSeparator {
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 3px;
    margin-left: 3px;
}

#QuitButton {
    color: #FF0040;
}

#ClipboardPreview {
    background-color: rgba(0, 0, 0, 0.8);
}

#ClipboardPreviewTitle, #ClipboardPreviewBottom {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px; 
}

#ClipboardPreviewBottom {
    padding-top: 0px;
}

#ClipboardPreviewEmptyLabel {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 2em;
    padding: 10px; 
}

#HistoryItemViewShortcutHint {
    background-color: rgba(255, 0, 64, 0.7);
    border: 1px solid rgba(150, 0, 38, 1);
    margin: 5px;
    padding: 3px;
    font-weight: bold;
    color: white;
}

#LinkWidget {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 3px;
}

.link-widget-button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.link-widget-button-label:disabled {
    color: rgba(255, 255, 255, 0.6);
    text-decoration-color: rgba(255, 255, 255, 0.6);
}

.link-widget-button-label {
    text-shadow: none;
    text-decoration-line: underline;
    text-decoration-color: rgb(53, 132, 228);
    text-decoration-style: solid;
    color: rgb(53, 132, 228);
    font-family: "Adwaita Sans";
}

#DeletionProgressBar {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-weight: bold;
}

#DeletionProgressBar progress {
    min-height: 20px;
}

#DeletionProgressBar trough {
    min-height: 20px;
    margin-top: 5px;
}

.item-thumb {
    padding-left: 5px;
}
